@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin:2rem;
}

table {
    border-collapse: collapse;
	 background-color: white;
}	
th, td {
    padding: 10px 50px 10px 50px;
}
tr {
    border: 2px solid black;
}

table tr:hover {
	  cursor: pointer;
    background-color: #333333;
	  color: white;
}