@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin:2rem;
}

table {
    border-collapse: collapse;
}	
th, td {
    padding: 10px 50px 10px 50px;
}
tr {
    border: 2px solid black;
}

#content {
	background-color: white;
	padding: 2rem;
	border: black 1px dashed;
}

#statusControls {
	padding: 0.5rem 1rem 1rem 1rem;
	background-color: white;
	border: 2px solid green;
}

