@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin:2rem;
}

table {
    border-collapse: collapse;
}	
th, td {
    padding: 0 50px 0 50px;
}
tr {
    border: 1px solid black;
}