@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin:2rem;
}

table {
    border-collapse: collapse;
	 background-color: white;
	display: flex;
}	
th, td {
    padding: 10px 50px 10px 50px;
}
tr {
    border: 2px solid black;
	text-align: center;
}

table tr:hover {
	  cursor: pointer;
    background-color: #333333;
	  color: white;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#content div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#dailyToggle, #weeklyToggle, #monthlyToggle{
  padding: 1rem;
	margin-top: 1rem;
	color: black;
	font-size: 2rem;
	cursor: pointer;
	background-color: #E8e4c9;
	width:100%;
	border-radius: 10px 10px 0px 0px;
	border: solid white 1px;
}