<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"  id="WebApp_ID" version="6.0">
  <display-name>kg-ozone-eclipse</display-name>
  
  <resource-ref>
    <description>PostgreSQL Datasource</description>
    <res-ref-name>jdbc/kg-ozone</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
  
  <servlet>
  	<servlet-name>ProductDAO</servlet-name>
    <servlet-class>com.ProductDAOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductDAO</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>Product</servlet-name>
    <servlet-class>com.ProductViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>com.LoginAuthenticatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/loginAuth</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>com.InventoryLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateInventory</servlet-name>
        <servlet-class>com.InventoryChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInventory</servlet-name>
        <url-pattern>/updateInventory</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>UploadProdImg</servlet-name>
        <servlet-class>com.UploadProductImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadProdImg</servlet-name>
        <url-pattern>/uploadProdImg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteImage</servlet-name>
        <servlet-class>com.DeleteImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteImage</servlet-name>
        <url-pattern>/deleteImg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CommitUpdate</servlet-name>
        <servlet-class>com.CommitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommitUpdate</servlet-name>
        <url-pattern>/commit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ExpandProduct</servlet-name>
        <servlet-class>com.ExpandProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExpandProduct</servlet-name>
        <url-pattern>/expand</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>com.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFromCart</servlet-name>
        <servlet-class>com.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFromCart</servlet-name>
        <url-pattern>/deleteFromCart</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BuyNow</servlet-name>
        <servlet-class>com.BuyNowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyNow</servlet-name>
        <url-pattern>/buynow</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.CheckoutCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Nav</servlet-name>
        <servlet-class>com.NavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Nav</servlet-name>
        <url-pattern>/nav</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>com.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/createorder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>com.OrdersLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>com.SalesLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/sales</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderOperation</servlet-name>
        <servlet-class>com.OrderOperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderOperation</servlet-name>
        <url-pattern>/orderopr</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <servlet-class>com.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatus</servlet-name>
        <url-pattern>/updateOrderStatus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>com.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    
    <context-param>
    <param-name>file-upload-path</param-name>
    <param-value>D:/User Data/eclipse-workspace/kg-ozone-eclipse</param-value>
	</context-param>
  
  <welcome-file-list>
    <welcome-file>productList</welcome-file>
  </welcome-file-list>
</web-app>